

.explore-platforms {
  text-align: center;
  margin-top: 30px;
}

#heading {
  font-size: 45px;
  margin-bottom: 20px;
  text-align: left;
  margin-left: 150px;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.card-container {
  display: flex;
  flex-wrap: wrap; /* Ensure cards wrap to the next line if there's not enough space */
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  color: #1E2E75;
}

.card {
  text-align: center;
  padding: 20px;
  border: 1px solid #cccccc;
  border-radius: 10px; 
  width: 300px;
  height: 350px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 10px; 
  background-color: #16245A !important;
}

.icon-container {
  width: 30px;
  height: 30px;
  background-color: #FEFEFE;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  margin-top: 5px;
}

.icon {
  font-size: 1rem;
  color: #16245A;
  margin-left: 0px;
  margin-bottom: 90px;
}

.card h2 {
  font-size: 18px;
  margin: 10px 0;
  color: #FEFEFE;

}

.card:hover {
  background-color: #4b6af4; /* Change the hover background color */
  /* transform: scale(1.05); */
  /* transition: background-color 0.3s, transform 0.3s; */
}

.card p {
  font-size: 16px;
  margin: 10px 0;
  color: #FEFEFe;
}
